<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/cv/upload">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <form action="/auth/logout" method="POST">
    <button class="btn">Logout</button>
  </form>
</nav>
